<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618609606642-qq002urgdk9tf9s00ev5f4c31bsvvhf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618609606642-qq002urgdk9tf9s00ev5f4c31bsvvhf2</string>
	<key>API_KEY</key>
	<string>AIzaSyBA5N9sSvve0h96lebXQ3QR0-bgqbfCHac</string>
	<key>GCM_SENDER_ID</key>
	<string>618609606642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterweekend</string>
	<key>PROJECT_ID</key>
	<string>flutterweekend</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterweekend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618609606642:ios:804a0a998f5be8143ab56b</string>
</dict>
</plist>